.elevator_main {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 100%;
}

.elevator__container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.elevator__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.elevator__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary)
}

.elevator_main {
    width: 100%;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.elevator_main > div > iframe {
    height: 100vh;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .elevator_main > div > iframe {
        height: 70vh;
        width: 100%;
    } 
 }
 
 /* =================MEDIA QUERIES (SMALL DEVICES) =================*/
 @media screen and (max-width: 600px) {
    .elevator_main > div > iframe {
        height: 50vh;
        width: 100%;
    } 
 }